In [8]:
import pandas as pd
import re

In [12]:
def simplify_city_name(city_name):
    return re.sub(r'\s(city|east|west|north|south)(\s.*)?$', '', city_name, flags=re.IGNORECASE )

In [16]:
df = pd.read_csv("C:/Users/nagap/Documents/ValidatedCities2.csv", encoding = 'latin1')

In [18]:
df.head()

     Ship_city  Ship_postal_code          Validated_City
0       Mumbai            400081  Mumbai City North East
1    Bengaluru            560085         Bengaluru South
2  Navi Mumbai            410210             Navi Mumbai
3   Puducherry            605008             Pondicherry
4      Chennai            600073                Tambaram

In [20]:
df['Simplified_Cities'] = df['Validated_City'].apply(simplify_city_name)

In [22]:
df

,Ship_city,Ship_postal_code,Validated_City,Simplified_Cities
0,Mumbai,400081,Mumbai City North East,Mumbai
1,Bengaluru,560085,Bengaluru South,Bengaluru
2,Navi Mumbai,410210,Navi Mumbai,Navi Mumbai
3,Puducherry,605008,Pondicherry,Pondicherry
4,Chennai,600073,Tambaram,Tambaram
...,...,...,...,...
128971,Hyderabad,500013,Hyderabad South East,Hyderabad
128972,Gurugram,122004,Gurgaon,Gurgaon
128973,Hyderabad,500049,Secunderabad,Secunderabad
128974,Halol,389350,Panchmahals,Panchmahals
128975,Raipur,492014,Raipur,Raipur

In [24]:
df.to_csv('C:/Users/nagap/Documents/ValidatedCities2SimplifiedCities.csv', index = False)